<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgut.cloud_disk.mapper.DepartmentUserMapper">
    <delete id="deleteByIds">
        DELETE FROM `department_user` WHERE `DU_DEPART_ID`=#{departId} AND `DU_USER_ID_` IN
        <foreach item="userID" collection="userIds" open="(" separator="," close=")">
            #{userID}
        </foreach>
    </delete>
</mapper>
